body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f6f7f8;
  color: #393c45;
}

.errors {
  color: red;
}
html, body, .app, .Login-component, #app, #root {
  overflow: auto;
  height: 100%;
  margin: 0;
}

.Login-component {
  height: 100%;
  min-height: 100%;
  margin: 0;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#preloader {
  background-color: #fff;
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden !important;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 99999999;
}

#preloader > div {
  height: 100%;
  position: relative;
  width: 100%;
}

#preloader > div svg {
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
